body{background-color: coral}

h1{color: white; text-align: center;}

img{display: grid;
    place-items: center;
    height: 500px; 
    width: auto;
    padding: 1% 1% 1% 1%;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;}

p{color: black;}

a{color: aqua}

.content{
    display: block;
    background-color: beige;
    width: auto;
    place-items: center;
    border-radius: 50px;}

.padding{padding: 1% 5% 5% 5%;}

