body{background-color: coral}

h1{color: white; text-align: center;}

img{display: grid;
    place-items: center;
    height: auto; 
    width: 500px;
    padding: 1% 1% 1% 1%;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;}

p{color: black;}

a{color: aqua}

.content{
    display: block;
    background-color: beige;
    text-align: center;
    width:fit-content;
    place-items: center;
    border-radius: 25px;
    padding: 2.5% 3% 2.5% 3%;
    margin-left: auto;
    margin-right: auto;}

.padding{padding: 1% 5% 5% 5%;}

.header{margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
        padding-bottom: 20px;
        padding-top: 20px;
        background-color: white;
        color: black;
        position: sticky;
        }
