*{font-family: Arial, Helvetica, sans-serif;
    font-size:20px;}

body {
    display: flex;
    justify-content: center;
    overflow: visible;
    margin: 0;}

ul {display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 20%;
    gap: 10px;
    padding: 0;
    color: white;
    list-style: none;
    flex:1;
    }



.page-container {
        display: flex;
        justify-content: center;
        width: 70%;
        overflow: visible;
        }

.banner-background{
     background-color: rgba(0, 0, 0, 0.471);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-basis: 100%;
    }

.banner-text{
        display: flex;
        flex-wrap: nowrap;
        flex-basis: 100%;
        padding: 0% 20% 0% 20%;
        margin: - 2% -2% 0 -2%;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        background-color: rgba(0, 0, 0, 0.407);
        }

.page-title{color: white;
        font-weight: 200;
        font-size: 40px;
        flex:1;
        flex-wrap: nowrap;
        }

.banner-text a{
    color: white;
    text-decoration: none;
}
