*{font-family: Arial, Helvetica, sans-serif;
    font-size:20px;}

body {
    display: flex;
    justify-content: center;
    overflow: visible;
    flex-direction: column;
    margin: 0;}

ul {display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 20%;
    gap: 10px;
    padding: 0;
    color: black;
    list-style: none;
    flex:1;
    }

.banner-text{
        display: flex;
        flex-wrap: nowrap;
        flex-basis: 100%;
        padding: 0% 20% 0% 20%;
        margin: - 2% -2% 0 -2%;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        background-color: rgb(255, 255, 255);
        }

.page-title{
        font-weight: 200;
        font-size: 40px;
        flex:1;
        flex-wrap: nowrap;
        }

.banner-text a{
    color: black;
    text-decoration: none;
}

.middle-block{
    display: flex;
    flex-basis: 100%;
    padding: 4% 20% 4% 20%;
    background-color: #ff9999;
}

.ava-pic{
    height: 500px;
    width: 500px;
    border-radius: 500px;
}

.right-side{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    text-align: center;
    flex-basis: 40%;
}

.left-side{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    padding: 0px 0px 0px 40px;
}

.big-text{
    display: flex;
    font-size: 200px;
    justify-content: flex-start;
    margin-top: 50px;
    margin-bottom: 0px;
}

.small-text{
    display: flex;
    text-align: left;
}