*{font-family: Arial, Helvetica, sans-serif;
    font-size:20px;}

body {background-color: rgb(8, 8, 38);}

ul {display: flex;
    justify-content: space-between;
    width: 200px;
    gap: 10px;
    margin: 20px;
    color: white;
    list-style: none;
    }

.page-container {
        display: flex;
        justify-content: center;
        margin: 0px 200px 0px 200px;
        }

.banner-background{
    background-color: rgba(0, 0, 0, 0.471);
    display: flex;
    justify-content: center;
    align-content: center;
    margin: -20px -650px 0px -650px;
    width: 100%;
    }

.banner-text{
        display: flex;
        flex-wrap: nowrap;
        flex-basis: 100%;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        }

.page-title{color: white;
        font-weight: 200;
        font-size: 40px;
        }
